<div class="container mt-4">
    <div class="card shadow-sm" style="max-width: 400px">
        <div
            class="card-body bg-light border-4 border-bottom border-success rounded p-4 p-3"
        >
            <!-- Header with title and status -->
            <div class="d-flex justify-content-between align-items-start mb-2">
                <div>
                    <h5 class="card-title text-primary mb-2">Titre Annonce</h5>
                    <p class="text-muted mb-2">description</p>
                    <p class="card-text" style="text-align: justify">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Vitae venentis et dis in fermentum. Tristique hendrerit
                        nitus et ultrices nulla aliquet. Sit vel integer ut
                        mattis bicilisi.
                    </p>
                </div>
                <div class="d-flex justify-content-start ps-1">
                    <i class="bi bi-eye text-muted me-2"></i>
                </div>
                <span class="badge bg-warning text-dark py-1">En cours</span>
            </div>
            <!-- Footer with date and button -->
            <div class="d-flex justify-content-between align-items-center mt-3">
                <div class="d-flex align-items-center">
                    <i class="bi bi-calendar text-muted me-2"></i>
                    <small class="text-muted">24 Janv. 2025</small>
                </div>
                <button class="btn btn-primary px-4">Postuler</button>
            </div>
        </div>
    </div>
</div>
